[Unit]
Description=Daily Hypothesis to Obsidian synchronization

[Timer]
OnCalendar=*-*-* 00:05:00
Persistent=true
Unit=hypothesis-export-yesterday.service

[Install]
WantedBy=timers.target
